{{#paper-card}}
  <img src="{{book.image_url}}" alt="{{book.title}}" />
  {{#paper-card-content}}
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}</h2>
    <p>
      {{book.summary}}
    </p>
  {{/paper-card-content}}
{{/paper-card}}
